.wishing-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    height: 100vh;
    /* width: 100vw; */
    /* border: 2px dotted blue; */
    z-index: -1;
}

.wishing {
    height: inherit;
    width: inherit;
    background: #f7e3e8 url('../src/wishing/background-with-dots.png');
    background-position-x:center;
    background-position-y: -60px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.butterflies-wrapper {
    width: inherit;
    /* height: inherit; */
    padding: 0 10%;
}

.butterflies {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10%;
}

.butterfly-img {
    width: 200px;
}

@media screen and (max-width: 1000px) {
    .butterfly-img {
        width: 160px;
    }
}

@media screen and (max-width: 900px) {
    .butterfly-img {
        width: 140px;
    }
}

@media screen and (max-width: 800px) {
    .butterfly-img {
        width: 120px;
    }
}

@media screen and (max-width: 600px) {
    .butterfly-img {
        width: 100px;
    }
}

@media screen and (max-width: 500px) {
    .butterfly-img {
        width: 80px;
    }
}


/* happy birthday */
.happy-birthday-wrapper {
    text-align: center;
    padding: 300px 0px 100px 0px;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}

.happy-birthday-text {
    font-size: clamp(20px, 18vw, 180px);
    font-family: 'love','sugar', 'bree', 'surco', 'mobius', sans-serif;
    color: #cdb4da;
    text-align: center;
    line-height: 1.1;
}

.happy-birthday-happy, .happy-birthday-birthday{
    text-align: center;
}

@supports (-webkit-text-stroke: 3px #73586a) {
    .happy-birthday-text {
        -webkit-text-stroke: 3px #73586a;
        -webkit-text-fill-color: #cdb4da;
    }
}


@media screen and (max-width: 800px) {
    .happy-birthday-wrapper  {
        padding: 250px 0px 80px 0px;
    }
}

@media screen and (max-width: 700px) {
    .happy-birthday-wrapper  {
        padding: 220px 0px 70px 0px;
    }
}

@media screen and (max-width: 600px) {
    .happy-birthday-wrapper  {
        padding: 200px 0px 60px 0px;
    }
}

@media screen and (max-width: 500px) {
    .happy-birthday-wrapper  {
        padding: 180px 0px 50px 0px;
    }
}


/* whom's section*/
.whom-wrapper{
    text-align: center;
    margin: 20px 20px 120px 20px;
}
.whom{
    padding: 20px 40px 40px 40px;
}
.whom-text{
    font-size: clamp(20px, 6vw, 80px);
    font-family: "bree", sans-serif;
    font-weight: 600;
    color: #73586a;
}

/*=== PRAGATI'S BIRTHDAY ===*/
.pragati-birthday-wrapper-top{
    min-height: 10vh;
    background:linear-gradient(#F7E3E8, #FBEBEB) ;
}
.pragati-birthday-wrapper-bottom{
    min-height: 10vh;
    background:linear-gradient(#FBEBEB, #F5F5F7) ;
}
.pragati-birthday-wrapper{
    min-height: 100vh;
    background-color: #fbebeb;
}

.pragati-birthday{
    height: inherit;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

@media screen and (max-width:768px) {
    .pragati-birthday{
        padding: 20px;
    
    }
}

.pragati{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(20px, 18vw, 180px);
    font-family: 'love', 'bree', 'surco', 'mobius', sans-serif;
    color: #dd5e5e;
    padding-top: 40vh;
    padding-bottom: 40vh;
}

.pragati-g-svg{
    width: clamp(20px, 22vw, 180px);
}

.pragati-g-svg .cls-1,
.pragati-g-svg .cls-2,
.pragati-g-svg .cls-3,
.pragati-g-svg .cls-4 { fill: #dd5e5e}
.pragati-g-svg .cls-2, 
.pragati-g-svg .cls-3 { opacity: 0.9;}
.pragati-g-svg .cls-0{ fill: #545e2e; }


/* pragati full form */
.my-opinion-wrapper{
    background: #F5F5F7;
    padding: 10px;
}

.my-opinion{
    text-align: center;
    padding:  20vh 20px 15vh 20px;
}

.my-opinion-text{
    font-family: "Sushant", sans-serif;
    font-size: clamp(20px, 3vw, 180px);
    /* font-size: 60px; */
    font-weight: 500;
    /* color: #8876FE; */
    color: #383838;
}

.pragati-view-wrapper{
    max-width: 1000px;
    margin: auto;
}

.pragati-view{
    margin: 10px 15px;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    
}

.pragati-view-text{
    font-family: 'bree', 'love', 'Sushant', sans-serif;
    font-size: clamp(20px, 8vw, 180px);
    text-align: center;
    font-weight: 700;
    color: #dd5e5e;
}

.pragati-ff-fl{
    color: #F63E54;
}



.my-opinion-end{
    text-align: left;
    padding:  20vh 20px 5vh 20px;
    max-width: 950px;
    margin: auto;
}

.my-opinion-text-end{
    font-family: "Sushant", sans-serif;
    font-size: clamp(20px, 3vw, 180px);
    font-weight: 500;
    color: #383838;
    padding: 2vh 0px;
    line-height: 1.5;
}