@font-face {
    font-family: 'Sugar';
    src: url('font/SugarVinegar.woff2') format('woff2'),
        url('font/SugarVinegar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

